@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
$colors:("blue":#00A1E4,"dark_green":#04E762,"yellow":#F5B700,"pink":#DC0073);
.note{
    padding: 10px;
    min-height: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgb(66, 66, 66);
    margin: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    &:hover{
        font-size: 25px;
        cursor: pointer;
        box-shadow: 0px 0px 5px 2px black;
    }
    .title{
        color: white;
    }
}